examples/EWIO2 get measurements from database.json
[
    {
        "id": "16d20a3f84407175",
        "type": "tab",
        "label": "EWIO2 get measurements from database",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "64d60f20ceb244fe",
        "type": "junction",
        "z": "16d20a3f84407175",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "cfe722ca161c59e0"
            ]
        ]
    },
    {
        "id": "cfe722ca161c59e0",
        "type": "EWIO2 - Metering",
        "z": "16d20a3f84407175",
        "ewio2": "2be52e78ad6f9362",
        "name": "Messwert",
        "counter": "{\"nodeId\":\"01c248131f1ea3d5\",\"host\":\"127.0.0.1\",\"addr\":\"35\"}",
        "datapoint": "{\"nodeId\":\"01c248131f1ea3d5\",\"host\":\"127.0.0.1\",\"dp\":\"156\",\"cntr\":\"35\"}",
        "range": "",
        "value": "",
        "timestamp": "",
        "flags": "",
        "outputTimestamp": false,
        "outputFlags": "",
        "outputTopic": "Messwert",
        "quantity": "10",
        "x": 500,
        "y": 500,
        "wires": [
            [
                "974902a4fad50488",
                "f8886411c5048b78",
                "e517b1b6d214fce6",
                "dbe07eb4e241cced"
            ]
        ]
    },
    {
        "id": "974902a4fad50488",
        "type": "debug",
        "z": "16d20a3f84407175",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 440,
        "wires": []
    },
    {
        "id": "f8886411c5048b78",
        "type": "ui_chart",
        "z": "16d20a3f84407175",
        "name": "",
        "group": "6e1391b61d397d13",
        "order": 14,
        "width": 0,
        "height": 0,
        "label": "database data chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "604800",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 860,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "b946c00887ba5bb7",
        "type": "ui_text_input",
        "z": "16d20a3f84407175",
        "name": "",
        "label": "from",
        "tooltip": "",
        "group": "6e1391b61d397d13",
        "order": 1,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "from",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 490,
        "y": 120,
        "wires": [
            [
                "23d2925867694aa8"
            ]
        ]
    },
    {
        "id": "388c6945d58a3e37",
        "type": "ui_text_input",
        "z": "16d20a3f84407175",
        "name": "",
        "label": "to",
        "tooltip": "",
        "group": "6e1391b61d397d13",
        "order": 2,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "to",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 490,
        "y": 180,
        "wires": [
            [
                "23d2925867694aa8"
            ]
        ]
    },
    {
        "id": "23d2925867694aa8",
        "type": "join",
        "z": "16d20a3f84407175",
        "name": "join from and to",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 710,
        "y": 140,
        "wires": [
            [
                "0905903c69e661b8"
            ]
        ]
    },
    {
        "id": "0905903c69e661b8",
        "type": "change",
        "z": "16d20a3f84407175",
        "name": "set topic timestamps",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "timestamps",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 220,
        "wires": [
            [
                "64d60f20ceb244fe"
            ]
        ]
    },
    {
        "id": "5bf4ae82322b8341",
        "type": "ui_button",
        "z": "16d20a3f84407175",
        "name": "",
        "group": "6e1391b61d397d13",
        "order": 7,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Livedata 0",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "livedata",
        "topicType": "str",
        "x": 510,
        "y": 260,
        "wires": [
            [
                "64d60f20ceb244fe"
            ]
        ]
    },
    {
        "id": "8424b4ba64da0f96",
        "type": "ui_button",
        "z": "16d20a3f84407175",
        "name": "",
        "group": "6e1391b61d397d13",
        "order": 9,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "Livedata 4",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "4",
        "payloadType": "num",
        "topic": "livedata",
        "topicType": "str",
        "x": 510,
        "y": 300,
        "wires": [
            [
                "64d60f20ceb244fe"
            ]
        ]
    },
    {
        "id": "52d09b99dfa39bfe",
        "type": "ui_button",
        "z": "16d20a3f84407175",
        "name": "",
        "group": "6e1391b61d397d13",
        "order": 11,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Livedata 3000",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "3000",
        "payloadType": "num",
        "topic": "livedata",
        "topicType": "str",
        "x": 520,
        "y": 340,
        "wires": [
            [
                "64d60f20ceb244fe"
            ]
        ]
    },
    {
        "id": "547104d5ab1982fb",
        "type": "ui_text_input",
        "z": "16d20a3f84407175",
        "name": "",
        "label": "only from",
        "tooltip": "",
        "group": "6e1391b61d397d13",
        "order": 5,
        "width": 6,
        "height": 1,
        "passthru": false,
        "mode": "datetime-local",
        "delay": 300,
        "topic": "from",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 500,
        "y": 220,
        "wires": [
            [
                "64d60f20ceb244fe"
            ]
        ]
    },
    {
        "id": "dbe07eb4e241cced",
        "type": "switch",
        "z": "16d20a3f84407175",
        "name": "pass enabled/disabled",
        "property": "enabled",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nnull"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 260,
        "y": 300,
        "wires": [
            [
                "b946c00887ba5bb7",
                "388c6945d58a3e37",
                "547104d5ab1982fb",
                "5bf4ae82322b8341",
                "8424b4ba64da0f96",
                "52d09b99dfa39bfe",
                "384a6f6311151893"
            ]
        ]
    },
    {
        "id": "e26c7a27847284a5",
        "type": "ui_text",
        "z": "16d20a3f84407175",
        "group": "6e1391b61d397d13",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Status",
        "format": "{{msg.status.text}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 910,
        "y": 560,
        "wires": []
    },
    {
        "id": "384a6f6311151893",
        "type": "ui_button",
        "z": "16d20a3f84407175",
        "name": "",
        "group": "6e1391b61d397d13",
        "order": 13,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "livedate 0 (typo)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "num",
        "topic": "livedate",
        "topicType": "str",
        "x": 520,
        "y": 380,
        "wires": [
            [
                "64d60f20ceb244fe"
            ]
        ]
    },
    {
        "id": "e517b1b6d214fce6",
        "type": "switch",
        "z": "16d20a3f84407175",
        "name": "pass status",
        "property": "status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 770,
        "y": 560,
        "wires": [
            [
                "e26c7a27847284a5"
            ]
        ]
    },
    {
        "id": "e6bff4a775012c77",
        "type": "ui_spacer",
        "z": "16d20a3f84407175",
        "name": "spacer",
        "group": "6e1391b61d397d13",
        "order": 3,
        "width": 3,
        "height": 1
    },
    {
        "id": "736eb5a6b0103a77",
        "type": "ui_spacer",
        "z": "16d20a3f84407175",
        "name": "spacer",
        "group": "6e1391b61d397d13",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a589efaff7572d5b",
        "type": "ui_spacer",
        "z": "16d20a3f84407175",
        "name": "spacer",
        "group": "6e1391b61d397d13",
        "order": 8,
        "width": 1,
        "height": 1
    },
    {
        "id": "bf54b5dd97f7f866",
        "type": "ui_spacer",
        "z": "16d20a3f84407175",
        "name": "spacer",
        "group": "6e1391b61d397d13",
        "order": 10,
        "width": 1,
        "height": 1
    },
    {
        "id": "fcd9663c60245295",
        "type": "ui_spacer",
        "z": "16d20a3f84407175",
        "name": "spacer",
        "group": "6e1391b61d397d13",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "2be52e78ad6f9362",
        "type": "EWIO2",
        "name": "Office3",
        "host": "127.0.0.1",
        "hostTemp": "{\"address\":\"127.0.0.1\",\"location\":\"Office3\",\"hostname\":\"EWIO2-a58651\",\"nrAvailable\":1,\"nrRunning\":1,\"hwModell\":\"EWIO2-M-BM\",\"swVersion\":\"1.5.40\",\"serial\":\"00000018\",\"mac\":\"70:b3:d5:a5:86:51\"}",
        "encryption": false,
        "tlsConfig": ""
    },
    {
        "id": "6e1391b61d397d13",
        "type": "ui_group",
        "name": "",
        "tab": "8ae65f95cd7455fd",
        "order": 1,
        "disp": true,
        "width": 20,
        "collapse": false,
        "className": ""
    },
    {
        "id": "8ae65f95cd7455fd",
        "type": "ui_tab",
        "name": "EWIO2 Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]